body {
  color:red;
}

.navbar {
  padding 1rem;
  background-color: blue;
}

.btn-primary:hover {
  background-color: blue;
  color: white;
}

.hero-background-img {
  background-image: url("sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
